node_modules
/target/
/pkg/
/.log/
/static/*.wasm
/cljs-app/.cpcache/
/cljs-app/target/
/cljs-app/.rebel_readline_history
/cljs-app/.nrepl-port
/cljs-app/.log/
/cljs-app/.lsp/*.db
/cljs-app/pkg/
/cljs-app/.clj-kondo/.cache/
